:root {
	--pink: #FF002E;
	--blue: #006FAE;
	--white: #fff;
	--lightgrey: #f4f4f4;
	--backgroundgrey: #DEDEDE;
	--darkgrey: #2A2A2A;
	--black: #000;
}

html, body {
	margin: 0;
}

body {
	overflow-x: hidden;
}

ul {
	list-style: none;
	padding-left: 0;
}

p {
	margin: 0;
}

button {
	border: none;
	cursor: pointer;
}

.wrap {
	width: 1255px;
	margin: 0 auto;
	box-sizing: border-box;
}

.inner-wrap {
	width: 1080px;
	margin: 0 auto;
}

.btn {
	width: 316px;
	height: 56px;
	border: none;
	background-color: var(--pink);
	color: var(--white);
	font-weight: 600;
	font-size: 18px;
	font-family: Inter;
	transition: text-shadow 0.5s;
	cursor: pointer;
}

.btn:hover {
	text-shadow: 0px 0px 4px plum;
}

.secondary-title {
	color: var(--black);
	font-size: 36px;
	font-weight: bold;
	font-family: Inter;
	text-align: center;
	margin-bottom: 50px;
}

.md-text {
	font-weight: 600;
	font-size: 24px;
	font-family: Inter;
	color: var(--black);
}

.light-text {
	max-width: 408px;
	font-weight: 300;
	font-size: 18px;
	font-family: Inter;
	color: var(--black);
}

header {
	width: 100%;
	padding: 0 20px;
    box-sizing: border-box;
	height: 102px;
	border-bottom: 1px solid var(--lightgrey);
	background-color: var(--white);
}

header .wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.header-menu {
	display: flex;
	flex-direction: row;
	gap: 20px;	
}

.header-menu__item {
	font-size: 16px;
	font-weight: bold;
	font-family: Inter, sans-serif;
	color: black;
	text-decoration: none;
}

.header-menu__item:hover {
	text-decoration: underline;
}

.motto {
	padding: 300px 0 500px;
}

.motto__text {
	font-family: 'ClashDisplayLight';
	font-weight: 300;
	font-size: 73px;
	color: var(--darkgrey);
}

.motto__text--bold {
	font-family: 'ClashDisplayBold';
	font-weight: 700;
	color: var(--black);
}

.intro {
	padding-bottom: 110px;
}

.intro__text {
	font-family: 'Inter';
	font-weight: 300;
	font-size: 30px;
	color: var(--black);
}

/*** sliders ***/
.wild-nature, .culture-art, .co-production {
	padding-top: 50px;
	background-color: var(--lightgrey);
}

.slider-initial .slick-list {
	/*margin: 0 -56px;*/
}

.slider__item {
	position: relative;
	height: 1000px;
	/*padding: 0 23px;*/
}

.slider__item img {
	max-width: 100%;
}

.video-wrap {
	position: relative;
}

video {
	display: block;
}

.video-info {
	display: flex;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: rgba(0, 46, 72, .6);
	padding: 0 42px;
	box-sizing: border-box;
}

.video-info span {
	font-weight: 500;
	font-size: 16px;
	font-family: Inter;
	color: var(--white);
}

.player-btn {
	display: none;
	position: absolute;
	top: 264px;
	left: calc(50% - 50px);
	width: 100px;
	height: 100px;
	background: url(../img/icons/play.png) no-repeat center center;
	background-size: 85px 85px;
	cursor: pointer;
	transition: background-size 0.3s;
}

.video-wrap:hover .player-btn {
	display: block;
}

.player-btn.pause{
	background: url(../img/icons/pause.png) no-repeat center center;
}

.player-btn:hover {
	background-size: 95px 95px;
}

.annotation {
	background-color: var(--backgroundgrey);
	padding: 20px;
	font-weight: 400;
	font-size: 16px;
	font-family: Inter;
	color: var(--black);
}

/*** footer ***/
.about {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 650px;
	gap: 50px;
	grid-template-areas: "title title"
						 "left right";
	padding-top: 50px;
	margin-bottom: 200px;
}

#about {
	grid-area: title;
}

.about__left {
	grid-area: left;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__right {
	grid-area: right;
}

.about__text {
	font-size: 20px;
	font-weight: 400;
	font-family: Inter;
	color: var(--black);
}

.about__text span {
	font-weight: 600;
}

.achievments {
	list-style: none;
}

.achievment__item {
	position: relative;
	padding-left: 60px;
	color: var(--black);
	font-size: 26px;
	font-family: Inter;
	font-weight: bold;
	margin-top: 80px;
}

.achievment__item::before {
	position: absolute;
	top: -6px;
	left: 0px;
	width: 40px;
	height: 40px;
	content: '';
	background-position: center center;
	background-repeat: no-repeat;
}

.years::before {
	background-image: url(../img/icons/experience.png);
}
.clients::before {
	background-image: url(../img/icons/clients.png);
}
.hours::before {
	background-image: url(../img/icons/content.png);
}

.pre-footer {
	position: relative;
	background-color: var(--lightgrey);
	min-height: 186px;
	padding: 10px 106px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.text-box {
	padding-right: 25px;
}

.btn-to-top-wrap {
	padding-bottom: 40px;
}

.btn-to-top-wrap .wrap {
	display: flex;
	flex-direction: row;
	justify-content: end;
	padding: 10px 106px;
}

.btn-to-top {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background: rgba(217, 217, 217, .5) url(../img/icons/arrow-top.png) no-repeat center center;
	transition: box-shadow 0.4s;
}

.btn-to-top:hover {
	box-shadow: 0 0 5px 2px rgba(42, 42, 42, 0.15);
}

footer {
	min-height: 110px;
	padding: 10px 49px;
	box-sizing: border-box;
	background-color: var(--blue);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.right-side {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Roboto';
	color: var(--lightgrey);
}

.phone-list li:first-child, .email-list li:first-child, .address-list li:first-child {
	margin-bottom: 4px;
}

.email-list, .address-list {
	margin-left: 40px;
}

.email-list a {
	color: var(--lightgrey);
}

.email-list a:hover {
	color: var(--pink);
}

.decor {
	position: absolute;
	z-index: -1;
	border-radius: 50%;
}

.first-circle {
	top: -50px;
	left: -50px;
	width: 896px;
	height: 896px;
	box-shadow: 32px 0 169.1px 0 rgba(0, 0, 0, 0.11);
}

.second-circle {
	top: 284px;
	right: -50px;
	width: 697px;
	height: 697px;
	box-shadow: -21px 0 53px 0 rgba(0, 0, 0, 0.06);
}

.third-circle {
	top: -116px;
	right: -125px;
	width: 519px;
	height: 519px;
	box-shadow: -6px 26px 100.6px 0 rgba(0, 0, 0, 0.1);
	z-index: -3;
}

.veil {
	background-color: rgba(0, 0, 0, 0.76);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

.modal {
	top: calc(50% - 186px);
	width: 460px;
	margin: 0 auto;
	padding: 33px 23px;
	box-sizing: border-box;
	background-color: #fff;
	position: relative;
}

.close {
	position: absolute;
	top: 10px;
	right: 10px;
	width: 24px;
	height: 24px;
	background: url(../img/icons/close.png) no-repeat center center;
	cursor: pointer;
}

.modal-text {
	font-size: 18px;
	font-family: Inter;
	font-weight: 500;
	margin-bottom: 8px;
}

.modal input[type=text], .modal input[type=email]{
	border: 1px solid #7C7C7C;
	width: 100%;
	height: 41px;
	padding: 0 16px;
	margin-bottom: 24px;
}

.checkbox-wrap {
	display: flex;
	gap: 13px;
	align-items: start;
}

.modal label {
	font-size: 14px;
	font-family: Inter;
	font-weight: 500;
	margin-bottom: 8px;
	color: #7C7C7C;
}

.modal .btn {
	margin: 10px auto;
	display: block;
}

@media (max-width: 1450px) {
	.wrap {
		width: 100%;
		margin: 0;
	}

	.intro .wrap {
		padding: 0 20px;
	}

	.motto .wrap {
		padding: 0 60px;
	}

	.video-wrap {
		height: auto;
	}

	.player-btn {
		top: 24vw;
	}
}

@media (max-width: 1260px) {
	.wrap {
		width: 100%;
		margin: 0;
	}

	.motto__text {
		font-size: min(10vw, 73px);
	}

	.player-btn {
		top: 23vw;
	}

}

@media (max-width: 1130px) {
	.inner-wrap {
		width: 100%;
	}

	.motto {
		padding-top: min(18vw, 300px);
		padding-bottom: min(26vw, 500px);
	}

	.secondary-title {
		margin-bottom: 60px;
	}

	.slider__item {
		height: auto;
	}

	.about {
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;
		gap: 50px;
		grid-template-areas:
			"title"
			"left"
			"right";
		margin-bottom: 200px;
	}

	.about__right img {
		display: block;
		margin: 0 auto;
	}

	.about__text {
		padding-left: 20px;
		padding-right: 20px;
	}

	.achievments {
		padding-left: 30px;
	}

}

@media (max-width: 800px) {
	header {
		height: auto;
	}
	header .wrap {
		padding-top: 20px;
		padding-bottom: 10px;
		flex-direction: column;
		height: auto;
	}
	.header-menu {
		padding-top: 30px;
	}
	.motto__text {
		text-align: center;
	}
	.intro__text {
		text-align: center;
		padding-left: 40px;
		padding-right: 40px;
	}

	.player-btn {
		top: 21vw;
	}

	.about {
		margin-bottom: 20vw;
		gap: 20px;
	}
	.achievment__item {
		margin-top: 10vw;
	}
	footer {
		flex-direction: column;
		padding: 20px 20px 15px;
	}

	.btn-to-top-wrap .wrap {
		justify-content: center;
		padding: 10px 0;
	}

	.pre-footer {
		padding: 10px 26px;
	}
}

@media (max-width: 640px) {
	.motto {
		padding-left: 20px;
		padding-right: 20px;
	}
	.md-text, .light-text {
		text-align: center;
	}

	.player-btn {
		top: 16vw;
	}

	.about__text {
		text-align: center;
	}
	.pre-footer {
		flex-direction: column;
		padding-bottom: 30px;
	}
	.text-box {
		padding: 20px 0 30px;
	}
	.right-side {
		flex-direction: column;
	}
	.phone-list {
		margin-bottom: 0;
	}
	.email-list, .address-list {
		margin-left: 0px;
		text-align: center;
	}	
}
  
@media (max-width: 580px) {
	.header-menu {
		flex-direction: column;
	}
	.header-menu__item {
		text-align: center;
	}
	.about__right img {
		width: 100%;
	}
	.btn {
		width: 90%;
		margin: 0 auto;
	}
	.modal {
		width: 90%;
	}
}
  